<div class="container">
  <h1>Webform</h1>
  <ul class="list-inline">
    <li ng-repeat="pastObj in history">
      <a href="" ng-click="changeObject(pastObj)">
        [{{toString(pastObj)}}]
      </a> > 
    </li>
  </ul>

  <div class="row" ng-repeat="pair in object">
    <div class="col-xs-5">
      <input ng-model="pair.key" class="form-control" />
    </div>
    <div class="col-xs-6" ng-if="!pair.isObj">
      <input class="form-control"
      ng-model="pair.value" 
      ng-focus="showValue(pair)"
      ng-blur="updateValue(pair)"/>
    </div>
    <div class="col-xs-6" ng-if="pair.isObj">
      <a href="" class="btn" ng-click="changeObject(pair.value)">
        [{{toString(pair.value)}}]
      </a>
    </div>
    <div class="col-xs-1">
    </div>
  </div>
  <div class="row"><div class="col-xs-12">
    <button class="btn" ng-click="add()">Add value</button>
  </div></div>


</div>